<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
    <%= form_for(task) do |form| %>
    
      <% if task.errors.any? %>
        <ul>
          <%= task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      <div class="form-group">
        <%= form.label :content, "タスク" %>
        <%= form.text_field :content %>
      </div>
      <div class="from-group">
        <%= form.label :status, "ステータス" %>
        <%= form.text_field :status %>
      </div>
        <%= form.submit "投稿", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
