<%= form_for(task) do |form| %>

  <% if task.errors.any? %>
    <ul>
      <%= task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form.label :content, "タスク" %>
  <%= form.text_field :content %>
  <%= form.label :status, "ステータス" %>
  <%= form.text_field :status %>
  <%= form.submit "投稿" %>
<% end %>
