<h1>id : <%= @task.id %> 詳細</h1>

<p>
  <%= @task.content %>
</p>

<%= link_to("編集", edit_task_url) %>
<%= link_to("削除", @message, method: :delete, data: {confirm: "本当に削除してよろしいですか？"}) %>
<%= link_to("一覧に戻る", tasks_path) %>